<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.consumerserver.dao.ConsumerMapper">

    <insert id="insertUser" parameterType="com.example.consumerserver.entity.ConsumerUser" keyProperty="id" useGeneratedKeys="true">
        insert into c_schema(name,age) values(#{name},#{age})
    </insert>

</mapper>